@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

#root {
    height: 100%;
}

.App, .about-view {
    height: 100%;
    font-family: Raleway, "Open Sans", sans-serif;
}


* {
    box-sizing: border-box;
}


.navbar {
    background-color: #34495E;
    padding: 1rem 1rem!important;
    margin-bottom: 0;
}

.nav-link, .navbar-brand, .learn-more {
    color: #ffffff!important;
}
.nav-link {
    margin-right: 1em;
}

.navbar-brand {
    margin-left: 1em;
}

.navbar-toggler {
    border-color: transparent!important;
}


body {
    font-family: Raleway, "Open Sans", sans-serif;
}


footer {
    padding: 2em 0;
    text-align: center;
    height: 100%;
}


h3 {
    margin-bottom: 2em;
    text-align: left;
}

a:hover, a:active {
    text-decoration: none;
    color: #c0dfd9!important;
}


.project-landing {
    height: 100%;
    width: 100%;
    text-align: center;
    background-color: #EDEEF0;
    padding-top: 1em;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(52,73,94,0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}


.overlay-text {
    color: #ffffff;
    font-size: 20px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.filter-button {
    height: 100%;
    display: inline-block;
    background-color: transparent;
    font-size: 1em;
    border: 2px transparent solid;
}

.filter-button:hover, .filter-button:active {
    border: 2px #c0dfd9 solid;
}

.filter-options {
    margin: 4em 2em 1em 2em;
    text-align: center;
    font-size: 24px;
}

.project-image {
    display: block;
    height: 80%;
    width: 100%;
    opacity: 0.7;
    filter: alpha(opacity=70);
}


.navbar-spacing {
    height: 72px;
}

.experience-header {
    padding-top: 4em;
    padding-bottom: 2em;
}


.experience-header > h2 {
    font-weight: 500;
}




.remove-link-css {
    color: #FFFFFF;
}

.navbar-collapse-text {
    text-align: center;
}



@media (min-width: 598px) {


}

@media (min-width: 768px) {
    .hero-context > h1 {
        font-size: 48px;
    }

    .modal-content {
        width: 60%;
    }

    .close {
        right: 35px;
    }


}


@media (min-width: 992px) {
    .modal-content {
        width: 70%;
    }

    .close {
        right: 35px;
    }

}

@media (min-width: 1200px) {
    .hero-context > h1 {
        font-size: 60px;
    }

    .hero-context > p {
        font-size: 24px;
    }

    .modal-content {
        width: 100%;
    }

    .close {
        right: 50px;
    }

}

