@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

#root {
    height: 100%;
}

.App {
    height: 100%;
    font-family: Raleway, "Open Sans", sans-serif;
}

.landing-strip {
    /*height: 50vh;*/
    background-color: #34495E;
    color: #FFFFFF;
    padding: 2em 2em 1em 2em;
}

.landing-header {
    margin-top: 1em;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: 0;
}

.landing-subheader {
    margin-bottom: 4em;
}

.page-scroll {
    text-align: center;
}
.page-scroll-text {
    color: #FFFFFF;
}








@media (min-width: 598px) {

}

@media (min-width: 768px) {

}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}

